.room {
   padding-top: 200px;
   background: url('/dist/img/bg2.jpg'); 
   background-size: cover;
   background-position-y: -200px;
       
    .footer {
        .btn {
            margin-top: 40px;
            margin-left: 45%;
            color: #fff !important;
            outline: none;            
        }
        
       .cadet {
            position: absolute;
            bottom: 75px;
            left: 50px;
            width: 300px;
        }        
    }
}