@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/materialize/sass/materialize.scss";

@import "homepage/homepage.scss";
@import "registration/registration.scss";
@import "room/room.scss";
@import "thanks/thanks.scss";

$background: #fff;
$text: #333;
$grey: #999999;
$frame: #072858;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/dist/font/MaterialIcons-Regular.woff2') format('woff2'),
       url('/dist/font/MaterialIcons-Regular.woff') format('woff'),
       url('/dist/font/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cadets';
  font-style: normal;
  font-weight: 400;
  src: url('/dist/font/Cursive_Elegant.ttf') format('truetype');
}

@font-face {
  font-family: 'Militar';
  font-style: normal;
  font-weight: 400;
  src: url('/dist/font/Stencil_Army.ttf') format('truetype');
}

@font-face {
  font-family: 'Handwriting';
  font-style: normal;
  font-weight: 400;
  src: url('/dist/font/LadylikeBB.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #fff;
	color: #333;
    font-family: Verdana;
}

button {
    font-family: 'Militar';
    
    &.big {
        border: 4px solid #6B2808;
        border-radius: 10px;
        height: 60px;
        font-size: 24px;        
    }
}

.expand {
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: $frame;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);    
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: $frame;    
    box-shadow: 1px -5px 5px rgba(0,0,0,0.5);    
}

.logo {
    position: absolute;
    top: 21px;
    left: 50%;
    margin-left: -154px;
    width: 300px;   
}

.logo-text {
    position: absolute;
    color: #fff;
    left: 10px;
    top: 5px;
    
    .care {
        font-size: 50px;
        font-family: 'Militar';
    }    
    
    .cadets {
        font-size: 45px;
        font-family: Cadets;
        color: #039be5;
    }
}
