$orange: #FF7600;

.homepage {
    img.intro {
        width: 100%;
    }
            
    .boy {
        position: absolute;
        bottom: 25px;
        left: 15px;
        width: 250px;
    }
    
    .login {
        width: 300px;
        background-color: #FFF;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);    
        border: 1px solid #ccc;    
        
        label {
            left: 0;
        }
        
        .btn {
            width: 100%;
            color: #fff;
            outline: none;            
        }
        
        .remember-me {
            margin-top: 10px;
            margin-bottom: -10px;
                        
            label {
                padding-left: 26px;
                font-size: 11px;
                font-weight: normal;                
            }
        }
        
        .forgot-password {
            font-size: 11px;
            float: right;
            margin-top: 15px;
            cursor: pointer;
        }
    }
    
    .register {
        position: absolute;
        top: 271px;
        right: 50px;
        font-weight: 700;
        color: #AFAFAF;
        cursor: pointer;
        font-size: 14px;
        text-shadow: 1px 1px 1px #000;
    }
}
    